################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/appsettings.json
/API/appsettings.Development.json
/API/appsettings.json
/API/appsettings.Development.json
/.vs/DatingApp/v17/.suo
*.vsidx
/.vs/DatingApp/FileContentIndex/413e2a55-2bec-4cff-a053-ae49fd0a1c58.vsidx
/.vs/DatingApp/FileContentIndex/36dd53ac-7b25-4d4c-a6c0-40f1e5fde931.vsidx
/.vs/DatingApp/FileContentIndex/413e2a55-2bec-4cff-a053-ae49fd0a1c58.vsidx
/.vs/DatingApp/FileContentIndex/36dd53ac-7b25-4d4c-a6c0-40f1e5fde931.vsidx
